<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">E-Pazari</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item" [routerLinkActive]="['active-li']">
          <a class="nav-link" [routerLink]="'/kreu'" [routerLinkActive]="['active-a']">Kreu</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active-li']">
          <a class="nav-link" [routerLink]="'/tePreferuarat'" [routerLinkActive]="['active-a']">Te Preferuarat</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active-li']">
          <a class="nav-link" [routerLink]="'/shporta'" [routerLinkActive]="['active-a']">Shporta</a>
        </li>

        <li class="nav-item " [routerLinkActive]="['active-li']" >
          <a class="nav-link"  [routerLink]="'/hyr'" [routerLinkActive]="['active-a']">Hyr</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
