<div class="displayTable">
  <div class="displayTableCell">


    <div class="px-logo">
      <a href="#" target="_blank">
        <img src="assets/qedlogo.PNG"   alt="QepeEDomate">
      </a>
    </div>

    <div class="authBlock">
      <form [formGroup]="registrationForm">
      <h3> Plotëso për t'u regjistruar </h3>

      <div class="form-group">


        <input  placeholder="Emri"  [class.is-invalid]="registrationForm.get('userName')?.invalid &&
                                 registrationForm.get('userName')?.touched" formControlName="userName" type="text" class="form-control" >


        <div *ngIf="registrationForm.get('userName')?.invalid &&
                registrationForm.get('userName')?.touched" class="text-danger" >

          <small *ngIf="userName?.errors?.required" class="text-danger"> Emri eshte i kerkuar </small>
          <small *ngIf="userName?.errors?.minlength" class="text-danger"> Duhet te permbaje te pakten 3 shkronja  </small>
          <small *ngIf="userName?.errors?.forbiddenName" class="text-danger"> Emri nuk lejohet  </small>
        </div>


      </div>

      <div class="form-group">


        <input placeholder="Emaili" [class.is-invalid]="email?.invalid && email?.touched" type="text" formControlName="email" class="form-control">

        <small [class.d-none]="email?.valid || email?.untouched" class="text-danger"> Email eshte i kerkuar </small>

      </div>

        <div class="form-group">
          <input placeholder="Fjalekalimi" [class.is-invalid]="registrationForm.get('password')?.invalid && registrationForm.get('password')?.touched" formControlName="password" type="password" class="form-control">

          <small [class.d-none]="registrationForm.get('password')?.valid || registrationForm.get('password')?.untouched"  class="text-danger"> Password eshte i kerkuar </small>
        </div>
        <div class="form-group">

          <input   placeholder=" Konfirmoni Fjalekalimi" [class.is-invalid]="registrationForm.errors?.misMatch" formControlName="confirmPassword" type="password" class="form-control">
          <small *ngIf="registrationForm.errors?.misMatch" class="text-danger"> Passwords do not match </small>
        </div>

        <div class="form-group">

          <select formControlName="rolet" (change)="changeRoles($event)"  [class.is-invalid]="registrationForm.get('rolet')?.invalid && registrationForm.get('rolet')?.touched"  class="form-control">
            <option disabled>Zgjidhni Rolin</option>
            <option value=""> Ju lutem, zgjidhi rolin tuaj </option>
            <option *ngFor="let roli of Rolet">
              {{roli}}
            </option>

          </select>
          <small *ngIf=" rolet?.touched && rolet?.errors?.required " class="text-danger">Please choose some value </small>
        </div>


        <div class="form-group">

          <select formControlName="zonat" (change)="changeRoles($event)"  [class.is-invalid]="registrationForm.get('zonat')?.invalid && registrationForm.get('rolet')?.touched"  class="form-control">
            <option disabled>Zgjidhni Zonen</option>
            <option value=""> Ju lutem, zgjidhi zonen ne te cilen jetoni </option>
            <option *ngFor=" let zona of Zonat">
              {{zona}}
            </option>

          </select>
          <small *ngIf=" zonat?.touched && zonat?.errors?.required " class="text-danger">Please choose some value </small>
        </div>

        <button [disabled]="registrationForm.invalid " (click)="onSubmit(registrationForm)" class="btn btn-primary" type="submit"> Regjistrohu </button>
      </form>

    </div>

    <div class="redirectToLogin">
      <span>Keni nje llogari? <span class="redirect" routerLink="/hyr">Identifikohuni</span></span>
    </div>

</div>
</div>
