
<div class="displayTable">
  <div class="displayTableCell">


    <div class="px-logo">
      <a href="#" target="_blank">
        <img src="assets/qedlogo.PNG"  alt="QepeEDomate">
      </a>
    </div>



    <div class="authBlock">
      <h3 > Plotëso për t'u identifikuar </h3>

      <div class="formGroup">
        <input type="text" class="formControl" placeholder="Emaili" #userName required>
      </div>

      <div class="formGroup">
        <input type="password" class="formControl" placeholder="Fjalëkalimi" #userPassword required>
      </div>

      <div class="formGroup">
        <input type="button" class="btn btnPrimary" value="Log in" >
      </div>


      <div class="forgotPassword">
        <span routerLink="/forgot-password">Ke harruar fjalëkalimin?</span>
      </div>
    </div>

    <div class="redirectToLogin">

      <span> Nuk ke një llogari? <span class="redirect" routerLink="/regjistrimi"> Regjistrohu </span> </span>

    </div>

  </div>
</div>

